body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 800px 700px 700px 300px;
    grid-gap: 0;
    height: 2650px;
    grid-template-areas: 
    "head_title head_title"
    "top_menu top_menu"
    "banner banner"
    "content_1 content_1"
    "content_2 content_2"
    "footer footer";
}

#head_title{
    background-color: white;
    grid-area: head_title;
}
#top_menu{
    font-weight: 100;
    background-color: #ff5353;
    grid-area: top_menu;
}


#banner{
    /* background-color: #a8968c; */
    grid-area: banner;  
}
#slider{
    /* display: table; */
    position: relative;
    /* overflow: hidden; */
    /* width: 400%; */
    /* left: 0; */
    right: 0%;
}
.ban_img{
    /* display: inline-block; */
    position: absolute;
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    /* top: 0; */
    height: 800px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: .5s;
    /* transform: scale(0.9); */
}.ban_img:nth-child(1){background-image: url('design_src/인스타.png');}
.ban_img:nth-child(2){background-image: url('design_src/6-3.png');}
.ban_img:nth-child(3){background-image: url('design_src/4-2.png');}
.ban_img:nth-child(4){background-image: url('design_src/1-2.png');}
.show{
    z-index: 3;
    opacity: 1;
    transition: .5s;
    /* transform: scale(1); */
}
#banner_btn{
    display: inline-block;
    position: absolute;
    z-index: 90;
    top: 450px;
}
#s_prev{
    color: white;
    position: relative;
    left: 4em;
    transition: .3s;
}#s_prev:active{color: #ff5353;}
#s_next{
    color: white;
    position: relative;
    right: -110em;
    transition: .3s;
}#s_next:active{color: #ff5353;}
#slide_num{
    position: relative;
    display: inline-block;
    z-index: 100;
    top: 700px;
    left: 90%;
    background-color: black;
    opacity: 50%;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 40px 40px 40px 40px;
}
#slide_num #fore_num{}
#slide_num #sum_num{}
.slide_controll{
    position: relative;
    color: white;
    padding-left: 30px;
    right: 20px;
    transition: .3s;
}
.slide_controll:hover{color: #ff5353;}
.slide_controll:active{color: #ff5353;}


#footer{
    background-color: #ff5353;
    grid-area: footer;
}

#logo{
    position: relative;
    top: 20px;
    padding-left: 20px;
    width: 100px;
}
#search{
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    margin-top: 35px;
    left: 50%;
    width: 50%;
    height: 20px;
    outline: none;
    border-style: solid;    
    border-radius: 10px;
    border-color: red;
}
#register{
    position: absolute;
    margin-top: 40px;
    margin-right: 20px;
    right: 0;
}

#m_btn{
    position: relative;
    top: 10px;
    width: 30px;
    padding-left: 10px;
}
#menu_list nav{
    position: relative;
    padding-left: 10%;
    bottom: 25px;
}
#menu_list nav a{
    text-decoration: none;
    color: white;
    transition: .3s;
}#menu_list nav a:hover{
    color: #a04747;
    transition: .3s;
}
.m1{position: relative; left: 10%;}
.m2{position: relative; left: 20%;}
.m3{position: relative; left: 30%;}
.m4{position: relative; left: 40%;}
.m5{position: relative; left: 50%;}

#content_1{
    grid-area: content_1;
    font-weight: 100;
    position: relative;
    padding-top: 20px;
    background-color: rgb(255, 241, 241);
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
#c1_itm1{
    position: relative;
    /* display: inline-block; */
    height: 450px;
    background-image: url('design_src/itm_bag.png');
    background-size: 450px 450px;
    background-repeat: no-repeat;
    left: 23%;
    top: 80px;
    transition: .3s;
}
#c1_itm2{
    position: relative;
    /* display: inline-block; */
    height: 450px;
    background-image: url('design_src/itm_bag.png');
    background-size: 450px 450px;
    background-repeat: no-repeat;
    left: 30%;
    bottom: 25px;
    transition: .3s;
}
.c1_p_name{
    display: inline-block;
    color: #ff5353;
    position: relative;
    top: 450px;
}
.c1_p_price{
    font-size: 30px;
    display: inline-block;
    color: #ff5353;
    position: absolute;
    top: 470px;
    left: 0;
}

#content_2{
    grid-area: content_2;
    position: relative;
    bottom: 0;
    background-color: rgb(255, 248, 248);
}

#c2_itm1{
    position: relative;
    background-size:  cover;
    height: 600px;
    width: 450px;
    background-repeat: no-repeat;
    background-image: url('design_src/itm_bag.png');
    top: 30px;
    left: 23%;
    box-shadow: -10px 10px 0px rgb(255, 213, 213);
}
#c2_itm2{
    position: relative;
    left: 30vw;
    top: 20px;
    /* text-align: right; */
}
#c2_itm2 span{
    position: absolute;
    right: 0;
    font-size: 50px;
    font-weight: 500;
    color: #ff5353;
}
#c2_itm2 p{
    position: relative;
    top: 80px;
    text-align: right;
    font-weight: 100;
    color: #ff5353;
}
#c2_itm3{
    position: relative;
    background-image: url('design_src/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    top: 180px;
    left: 30vw;
}
