body{
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 1500px 300px;
    grid-gap: 0;
    height: 1950px;
    grid-template-areas: 
    "head_title head_title"
    "top_menu top_menu"
    "content_1 content_1"
    "footer footer";
}

#head_title{
    background-color: white;
    grid-area: head_title;
}
#top_menu{
    font-weight: 100;
    background-color: #ff5353;
    grid-area: top_menu;
}
#footer{
    background-color: #ff5353;
    grid-area: footer;
}

#logo{
    position: relative;
    top: 20px;
    padding-left: 20px;
    width: 100px;
}
#search{
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    margin-top: 35px;
    left: 50%;
    width: 50%;
    height: 20px;
    outline: none;
    border-style: solid;    
    border-radius: 10px;
    border-color: red;
}
#register{
    position: absolute;
    margin-top: 40px;
    margin-right: 20px;
    right: 0;
}

#m_btn{
    position: relative;
    top: 10px;
    width: 30px;
    padding-left: 10px;
}
#menu_list nav{
    position: relative;
    padding-left: 10%;
    bottom: 25px;
}
#menu_list nav a{   
    text-decoration: none;
    color: white;
    transition: .3s;
}#menu_list nav a:hover{
    color: #a04747;
    transition: .3s;
}
.m1{
    position: relative;
    left: 10%;
}
.m2{
    position: relative;
    left: 20%;
}
.m3{
    position: relative;
    left: 30%;
}
.m4{
    position: relative;
    left: 40%;
}
.m5{
    position: relative;
    left: 50%;
}

#content_1{
    grid-area: content_1;
    font-weight: 100;
    position: relative;
    background-color: white;
    top: 100px;
}
#product{
    position: relative;
    left: 75%;
    right: 10%;
    transform: translateX(-50.5%);
}
.p_itm{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 300px;
    gap: 30px;
    transition: .3s;
}
.p_itm:hover{
    background-size: 105%;
    transition: .3s;
}
.p_itm:nth-child(1){
    position: absolute;
    background-image: url('../src/product_img/label_tag.png');
}
.p_itm:nth-child(2){
    position: relative;
    background-image: url('../src/product_img/label_tag.png');
    left: 330px;
}
.p_itm:nth-child(3){
    position: relative;
    background-image: url('../src/product_img/label_tag.png');
    left: 360px;
}

.p_itm:nth-child(4){
    position: absolute;
    background-image: url('../src/product_img/label_tag.png');
}
.p_itm:nth-child(5){
    position: relative;
    background-image: url('../src/product_img/label_tag.png');
    left: 330px;
}
.p_itm:nth-child(6){
    position: relative;
    background-image: url('../src/product_img/label_tag.png');
    left: 360px;
}

#L2{
    position: relative;
    top: 100px;
}
#L3{
    position: relative;
    top: 200px;
}
.ptm_info{
    display: inline-block;
    color: #ff5353;
    position: relative;
    top: 305px;
}
.ptm_price{
    display: inline-block;
    color: #ff5353;
    position: absolute;
    top: 320px;
    left: 0;
    font-weight: 500;
    font-size: 30px;
}

#page_num{
    position: absolute;
    margin-top: 400px;
    transform: translateX(-50%);
    left: 50%;   
    transition: .3s;
}
#page_num button{
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 40px 40px 40px 40px;
}#page_num button img{
    height: 30px;
    transition: .3s;
}
#page_num button:hover{
    background-color: #ffa0a0;
    transition: .3s;
}
#previous_page{
    color: #ff5353;
    position: relative;
    left: -10px;
    padding-left: 10px;
    transition: .3s;
}#previous_page:active{color: #ffc7c7;}
#next_page{
    color: #ff5353;
    position: relative;
    left: 10px;
    padding-right: 10px;
    transition: .3s;
}#next_page:active{color: #ffbebe;}
#page_num span{
    font-size: 20px;
    position: relative;
    bottom: 8px;
}